<h1>Current Weather for <%= @city %></h1>

<div>
  <% if @weather_data %>
    <p>Temperature: <%= @weather_data['main']['temp'] %>°C</p>
    <p>Conditions: <%= @weather_data['weather'][0]['description'] %></p>
  <% else %>
    <p>Unable to retrieve weather data for <%= @city %></p>
  <% end %>

  <div>
      <a href="/events">Return to Events</a>
  </div>
</div>